<p-tabView>
  <p-tabPanel header="Журнал заказов">
    <p-dialog header="Добавление заказа" [(visible)]="displayDialog" [responsive]="true" [modal]="true" [width]="'500px'" [height]="'auto'">
      <div class="p-fluid">
        <div class="p-field">
          <label for="client">Имя клиента</label>
          <input id="client" type="text" pInputText [(ngModel)]="Order.client" required>
        </div>
        <div class="p-field">
          <label for="date">Дата заказа</label>
          <p-calendar id="date" [(ngModel)]="Order.date" dateFormat="dd.mm.yy"></p-calendar>
        </div>
        <div class="p-field">
          <label for="address">Адрес</label>
          <input id="address" type="text" pInputText [(ngModel)]="Order.address" required>
        </div>
      </div>
      <div class="p-dialog-footer">
        <button type="button" pButton label="Добавить" (click)="addOrder()" [disabled]="!formValid"></button>
      </div>
    </p-dialog>
    
  </p-tabPanel>
  <p-tabPanel header="Справочник товаров">

  </p-tabPanel>
</p-tabView>